body {
    background-image: url(../images/tall-library.jpg);
    background-size: cover;
}

h1 {
    background-image: url(../images/vecteezy_book-logo-vector-and-illustration-education-icon_26563633.png);
    height: 100px;
    background-repeat: no-repeat;
    background-color: bisque;

}

.